<div class="jumbotron">
	<h1 class="center">Hello</h1>
	<p class="center">This is my new application for learning RoR!</p>
	<p class="center">
		<%= link_to "SignUp", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Login", "#", class: "btn btn-primary btn-lg" %>
	</p>
	
</div>

<p>hogehoge</p>

<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
<p>hogehoge</p>
